node_modules/
.DS_Store
dist
*.log
coverage
.idea
server_config.js
src/main/client/config.js
src/main/resources/public
application.conf
target/
.java-version
datatools.iml
src/main/client/config.js
datatools-manager.iml
config.yml
config_server.yml
assets
