node_modules/
.DS_Store
dist
*.log
coverage*
target/
src/main/client/config.js
datatools-manager.iml
config.yml
config_server.yml

tmp/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Configurations
configurations/*
!configurations/default
!configurations/test
dist
assets

# Secret config files
env.yml
env.yml-original
.env
!configurations/test/env.yml
