application.data.mapdb=/path/to/mapdb

application.port=9001

application.title=Data Manager

# Auth0 configuration
application.auth0.domain=your-auth0-domain
application.auth0.client_id=your-auth0-client-id
application.auth0.client_secret=your-auth0-client-secret

# Datatools suite configuration
application.editor_url=http://localhost:9001
application.user_admin_url=http://localhost:3000
application.logo=http://gtfs-assets-dev.conveyal.com/data_manager.png
