img[alt=screenshot] { width: 100%; }
img {
  display: block;
  margin: auto;
}
iframe {
  display: block;
  margin: 12px auto;
}
/*Ignore first heading in page in TOC list*/
li.toctree-l3:first-child {
    display: none;
}

.img-center {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
